<template>
<div>
  <card-scene />
</div>
</template>

<script>
import CardScene from '../components/CardScene'
export default {
  name: 'Game',
  components: { CardScene }
}
</script>

<style scoped>

</style>
