<template>
  <div class="card">
    {{NameObject}}
  </div>
</template>

<script>

export default {
  name: 'Card',
  props: {
    NameObject: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
.card {
  border:5px solid #ccc;
}
</style>
