<template>
  <section class="game-board">
    <Card
      v-for="(card,index) in cardList"
      :name-object="`hello`"
      :key="`card-${index}`"
    />
  </section>
</template>

<script>
import Card from './Card'
export default {
  name: 'CardScene',
  components: {
    Card
  },
  data () {
    const cardList = []
    for (let i = 0; i < 16; i++) {
      cardList.push(i)
    }
    return {
      cardList
    }
  }
}
</script>

<style scoped>
.game-board {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-column-gap: 30px;
  grid-template-rows: 200px 200px 200px 200px;
  grid-row-gap: 30px;
  justify-content: center;
}
</style>
